@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  }
  
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
  }
  
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  }
  
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
  }
  
  * {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
  }
  body {
	color: #212121;
	font-family: 'Open Sans', sans-serif;
	min-width: 850px;
}

a {
	text-decoration: none;
	color: #212121;
}

li {
	list-style-type: none;
}
.container {
	max-width: 1170px;
	padding: 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
header {
  background: #fff;
}
.logo{
	font-size: 25px;
	font-weight: 600;
}

.Logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height:120px;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 30px;
}

.menubar {
	display: flex;	
}

.menubar_item {
	margin-left: 20px;
	font-weight: 600;
	font-size: 20px;
	
	
}
.button {
	display: block;
	text-transform: uppercase;
	font-family:'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding: 17px;
	color: #fff;
}
.title{
	max-width: 625px;
}

.title h3{
font-size: 30px;
margin-bottom: 30px;
}

.title p {
	font-size: 15px;
	font-weight: 400;
}
.contain-project {
	background: url('../art/Photo.png') no-repeat center top / cover;
	min-height: 660px;
}

.contain-project_body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1170px;
	margin: 0 auto;
  height:47.142vw;
	align-items: center;
	min-height: 660px;
	padding: 0 30px;
}

.contain-project_title {
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
}
.contain-project_title h1 {
	font-size: 60px;
	margin-bottom: 30px;
}

.contain-project_title span {
	font-size: 22px;
}

.contain-project_row{
	align-self: stretch;
	display: flex;
	justify-content: space-evenly;
}

.contain-project_row a:hover {
	background: #fff;
	color: #000;
	border: 1px solid #fff;
}

.contain-project_button1 {
	border: 1px solid #fff;
	min-width: 220px;
	transition: 0.5s ease;
}

.contain-project_button2 {
	border: 1px solid #00897b;
	background: #00897b;
	min-width: 220px;
	transition: 0.5s ease;
}
.about{
	min-height: 660px;
}

.about-us_body {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50vw;
	text-align: center;
	min-height: 660px;
	padding: 0 30px;
}

.about-us_info {
	align-self: stretch;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-us_item {
	max-width: 200px;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-us_item img {
	align-self: center;
}
.description{
	max-width: 625px;
}

.description-title{
font-size: 30px;
line-height: calc(52 / 30 * 100%);
text-align: center;
}

.description-subtitle {
	font-size: 15px;
	font-weight: 400;
	line-height: calc(22 / 15 * 100%);
	text-align: center;
}
.our-services {
	min-width: 850px;
	background: #e4fdf9;
}
.our-services_body {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 50vw;
	text-align: center;
	min-height: 1410px;
	padding: 0 30px;
}
.our-services-bar {
	align-self: stretch;
	align-content: space-between;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 910px;
}

.our-services-menu {
	background: #fff;
	width: 290px;
	min-height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 0 1 32%;
	transition: 0.5s ease;
}

.our-services-menu img {
	filter: invert();
	align-self: center;
}

.our-services_button {
	align-self: center;
	width: 150px;
	border: 5px solid #000;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.our-services-menu:hover {
	background: #00897b;
	color: #fff;
}

.our-services-menu:hover img{
	filter: none;
}

.our-services-menu:hover a{
	background: #00897b;
	border: 5px solid #fff;
	color: #fff;
}
.our-services{
	background-color:#e4fdf9 ;
}
.latest-works-body {
	padding: 100px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.latest-works-body > * {
	padding-bottom: 100px;
}

.latest-works-buttons-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}

.latest-works-button {
	color: #212121;
	border: 2px solid #00897b;
	margin: 10px;
	transition: 0.3s ease;
}

.latest-works-button:hover {
	background: #00897b;
	color: #fff;
}

.latest-works-img-panels {
	display: flex;
	justify-content: space-evenly;
	align-self: stretch;
	flex-wrap: wrap;
	
}

.latest-works-img-panel {
	margin: 15px;
	max-width: 360px;
	background: #000;
	position: relative;
  text-align: center;
}

.latest-works-img-panel:hover img {
	opacity: 0.25;
}

.latest-works-img-panel:hover .latest-works-panel-text {
	opacity: 1;
}

.latest-works-panel-text {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: #fff;
	opacity: 0;
	transition: 0.3s ease;
}

.latest-works-panel-text h4 {
	font-size: 20px;
	font-weight: 600;
}

.latest-works-panel-text p {
	font-size: 15px;
	font-weight: 600;
}

.latest-works-img-panel img {
	width:100%;
	transition: 0.3s ease;
}

.latest-works-button_green {
	border: 2px solid #00897b;
	background: #00897b;
	transition: 0.3s ease;
}

.latest-works-button_green:hover {
	border: 2px solid #212121;
	background: #fff;
	color: #212121;
}
.pricing-plan {
	background: #f0f1f1;
}

.pricing-plan-body {
	padding: 100px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pricing-plan-body > * {
	padding-bottom: 100px;
}

.pricing-plan-plans-row {
  align-items: center;
	display: flex;
	justify-content: space-evenly;
	align-self: stretch;
	flex-wrap: wrap;
}

.pricing-plan-plan {
	background: #fff;
	width: 360px;
	min-height: 670px;
	display: flex;
	flex-direction: column;
  margin: 15px;
	transition: 0.3s ease;
}

.pricing-plan-plan:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pricing-plan-plan:hover .pricing-plan-plan-button{
	border: 2px solid #00897b;
	background: #00897b;
	color:  #fff;
}

.pricing-plan-plan-description{
	background-image: url(../art/plan-description-background.png);
	color: #fff;
	text-align: center;
}

.pricing-plan-plan-description > *{
	margin: 0 0 35px 0;
}

.pricing-plan-plan-title {
	margin-top: 40px;
	font-family: 'Open-Sans', sans-serif;
	font-size: 25px;
}

.pricing-plan-plan-subtitle {
	font-family: 'Open-Sans', sans-serif;
	font-size: 17px;
}

.pricing-plan-plan-subtitle b {
	font-weight: 400;
	font-size: 60px;
}

.pricing-plan-plan-content {
	margin: 0 auto;
}

.pricing-plan-plan-button {
	border: 2px solid #212121;
	color:  #212121;
	margin-top: 60px;
	transition: 0.3s ease;
}
.pricing-plan-plan-text li{
	border-bottom: 2px solid #bfbfbf;
	line-height: 60px;
	text-align: center;
}
